@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');


/* CSS RESET */

*, *::before, *::after  {
     box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Michroma", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6rem;
    font-weight: lighter;
    background: url(img/BG-2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.title {
    width: 50%;
    max-width: 400px;
    min-width: fit-content;
    background: linear-gradient(in oklab, hsl(120, 100%, 21%), hsl(178, 100%, 71%));
    background-clip: text;
    background-size: 200% 200% ;
    color: rgba(0, 0, 0, 0);
    font-size: 3rem;

    margin: 2rem auto;
    padding: 2rem;
    text-align: center;

    border: 1px solid hsl(0, 0%, 50%);
    border-top: 1px solid hsl(0, 0%, 90%);
    border-left: 1px solid hsl(0, 0%, 90%);
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 
    0.5rem  hsl(0, 0%, 20%);
    transition: font-size 0.7s;
    animation: movingBG 15s ease-in-out infinite;
    
}

@keyframes movingBG {
    0% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 50% 0%;        
    }

    100%{
        background-position: 50% 100%;
    }
    

}

.definition {
    text-align: center;

}

.title:hover {
    font-size: 4rem;
}

.catch-phrase { 
    font-family: "League Script";
    font-size: 1.8rem;
    text-align: left;

    margin: 1rem;
    padding: 0 0.5rem;
    
}

.main-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}

nav {
    background-color: rgba(255, 255, 255, 0.857);
    max-width: 400px;
    min-width: fit-content;
    text-align: center;
    padding: 0.7rem;

    margin: 1rem auto;

    border: 1px solid hsl(0, 0%, 50%);
    border-top: 1px solid hsl(0, 0%, 90%);
    border-left: 1px solid hsl(0, 0%, 90%);
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 0.5rem  hsl(0, 0%, 20%);
}

nav menu {
    line-height: 2rem;
}
nav li {
    width: 28%;
    display: inline-block;
    margin: 0 2rem;
    list-style: none;
}


.presentation, .warning {
    display: inline-block;
    line-height: 2rem;
    background-color: rgba(255, 255, 255, 0.857);
    /* max-width: 40%;
    min-width: 300px; */

    padding: 2rem;
    margin: 2rem 1rem;

    border: 1px solid hsl(0, 0%, 50%);
    border-top: 1px solid hsl(0, 0%, 90%);
    border-left: 1px solid hsl(0, 0%, 90%);
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 0.5rem  hsl(0, 0%, 20%);
}

.presentation {
    max-width: 60%;
    min-width: 350px;
}


.warning {
   font-size: 0.7rem;
   max-width: 30%;
   min-width: 300px;
   align-self: center;
}

:is(.presentation, .warning) h2 {
    margin: 1.5rem auto;
    text-align: center;
   
}

.TLHF {
    background: linear-gradient(in oklab, hsl(120, 100%, 21%), hsl(178, 100%, 71%));
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    font-size: 2rem;
 
}

.science {
    background: linear-gradient(in oklab, hsl(120, 100%, 21%), hsl(178, 100%, 71%));
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.question {
    font-size: 0.5rem;
}

a:link, a:visited {
    background: linear-gradient(in oklab, hsl(120, 100%, 40%), hsl(178, 100%, 20%));
    
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

a:focus, a:hover {
    background: linear-gradient(in oklab, hsl(120, 100%, 10%), hsl(178, 100%, 40%));
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    padding: 0.1rem 0.3rem;
    border-bottom: 1px solid hsl(0, 0%, 50%);
    border-right: 1px solid hsl(0, 0%, 50%);
    border-radius: 10px;
}