@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Script&display=swap");

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Michroma", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6rem;
  font-weight: lighter;
  background: url(../img/BG-2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
/* title styling */

.title {
  width: 50%;
  max-width: 400px;
  min-width: fit-content;
  background: linear-gradient(
    in oklab,
    hsl(120, 100%, 21%),
    hsl(178, 100%, 71%)
  );
  background-clip: text;
  background-size: 200% 200%;
  color: rgba(0, 0, 0, 0);
  font-size: 3rem;

  margin: 2rem auto;
  padding: 2rem;
  text-align: center;

  border: 1px solid hsl(0, 0%, 50%);
  border-top: 1px solid hsl(0, 0%, 90%);
  border-left: 1px solid hsl(0, 0%, 90%);
  border-radius: 20px;
  box-shadow: 0.2rem 0.2rem 0.5rem hsl(0, 0%, 20%);

  transition: all 0.7s ease-in-out;
  animation: movingBG 10s ease-in-out infinite;
}

@keyframes movingBG {
  0% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 50% 100%;
  }
}

.definition {
  text-align: center;
}

.title:hover {
  font-size: 4rem;
}

.catch-phrase {
  font-family: "League Script";
  font-size: 1.8rem;
  text-align: left;

  margin: 1rem;
  padding: 0 0.5rem;
}

.TLHFStyle {
  background: linear-gradient(
    173deg,
    rgba(21, 71, 34, 1) 0%,
    rgba(87, 199, 133, 1) 83%,
    rgba(237, 221, 83, 1) 100%
  );
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* nav styling */

.main-nav {
    background-color: rgba(255, 255, 255, 0.857);
    max-width: 400px;
    min-width: fit-content;
    text-align: center;
    padding: 0.7rem;
  
    margin: 1rem auto;
  
    border: 1px solid hsl(0, 0%, 50%);
    border-top: 1px solid hsl(0, 0%, 90%);
    border-left: 1px solid hsl(0, 0%, 90%);
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 0.5rem hsl(0, 0%, 20%);
  }
  
  .main-nav menu {
    line-height: 2rem;
  }
  .main-nav li {
    width: 28%;
    display: inline-block;
    margin-inline: 2rem;
    list-style: none;
  }

  /* end nav styling */

  /*  main styling */


  figure > img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
 
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
  }

  .recipe {
    width: 302px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 0.7rem;
    border: 1px solid hsl(0, 0%, 50%);
    border-top: 1px solid hsl(0, 0%, 90%);
    border-left: 1px solid hsl(0, 0%, 90%);
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 0.5rem hsl(0, 0%, 20%);
    text-align: center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .recipe:hover::before {
    content: "";
    position: absolute;
    margin-top: 0.7rem;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-image: linear-gradient(
      in oklab,
      hsla(120, 99%, 52%, 0.643),
      hsla(178, 100%, 50%, 0.728)
    );
    box-shadow: 1px 1px 10px hsla(120, 99%, 52%, 0.576), -2px 1px 10px hsla(178, 100%, 50%, 0.632) ;
    z-index: -1;

  }

  .recipe a:is(:link, :visited) {
    color: black;
    text-decoration: none;

  }

  .main-nav a:is(:link, :visited) {
  background: linear-gradient(
    in oklab,
    hsl(120, 100%, 40%),
    hsl(178, 100%, 20%)
  );

  background-clip: text;
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.main-nav  a:is(:focus, :hover) {
  background-image: linear-gradient(
    in oklab,
    hsl(120, 100%, 10%),
    hsl(178, 100%, 40%)
  );
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  padding: 0.1rem 0.3rem;
  border-bottom: 1px solid hsl(0, 0%, 50%);

  border-radius: 10px;
} 
 
.recipe p {
  font-size: 0.8rem;
  text-align: center;
}

.recipe figcaption {
  text-decoration: underline;
  margin-inline: 1rem;
  margin-bottom: 1rem;
}

.small {
  font-size: 0.5rem;
}


